.col-sm-12.py-4.d-flex.flex-column.align-items-center
  //todo: maybe remove i = index
  div.map(*ngFor="let row of map.tiles; let i = index")
    div.tiles(*ngFor="let tile of row")
      img.tile(*ngIf="tile.type === TileType.NOTHING",
        src="/assets/images/grass.png")
      img.tile(*ngIf="tile.type === TileType.WALL",
        src="/assets/images/light-wall.png")
      img.tile(*ngIf="tile.type === TileType.FRAGILE_WALL",
        src="/assets/images/ice.png")

    img.hero(#hero0,
      *ngIf="isHeroWithIdPresent(0)",
      id="hero0",
      src="/assets/images/chicken.png",
    )

    img.hero(#hero1,
      *ngIf="isHeroWithIdPresent(1)",
      id="hero1",
      src="/assets/images/pig.png",
    )

    img.hero(#hero2,
      *ngIf="isHeroWithIdPresent(2)",
      id="hero2",
      src="/assets/images/whale.png",
    )

    img.hero(#hero3,
      *ngIf="isHeroWithIdPresent(3)",
      id="hero3",
      src="/assets/images/chick.png",
    )

    div(*ngFor="let bomb of bombs | async")
      img.bomb(
        [ngStyle]="{'top': bomb.y + 'px', 'left': bomb.x + 'px'}",
        src="/assets/images/smiley-bomb.png",
      )
  //[@up]="up",
